@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: Inter, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, Sans-Serif;
  --default-mono-font-family: 'IBM Plex Mono', monospace;
  --text-tiny: 0.625rem;
  /* --color-brand: oklch(0.723 0.178 158.4);
  --color-brand-border: oklch(0.603 0.178 158.4); */
  --color-neutral-50: oklch(0.974 0.005 91.6);
  --color-neutral-100: oklch(0.947 0.007 83.2);
  --color-neutral-200: oklch(0.897 0.009 75.4);
  --color-neutral-300: oklch(0.762 0.012 71.8);
  --color-neutral-500: oklch(0.46 0.006 68.3);
  --color-brand: oklch(0.793 0.103 243.6);
  --color-brand-border: oklch(0.703 0.123 243.6);
  --color-black: #1a1a1a;
  --color-stone: rgb(236 234 229);
  --color-stone-light: rgb(236 234 229);
  --color-charcoal: rgb(107 105 101);
  --color-ink: rgb(26 26 26);
  --color-cotton: rgb(247 246 242);
}

@utility min-h-dvh-minus-* {
  min-height: calc(100dvh - var(--spacing) * --value(integer));
  min-height: calc(100dvh - --value([length]));
}

/* We need to inline bg-$color-400 for the app icon fallbacks */
@source inline("bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-400");

#nprogress .bar {
  background: var(--color-black) !important;

  @variant dark {
    background: var(--color-white) !important;
  }
}

#nprogress .bar .peg {
  box-shadow:
    0 0 10px var(--color-black),
    0 0 5px var(--color-black) !important;

  @variant dark {
    box-shadow:
      0 0 10px var(--color-white),
      0 0 5px var(--color-white) !important;
  }
}

:root {
  scroll-padding-top: 100px;
}

*:focus-visible {
  outline: 2px solid var(--color-blue-600);
}

.white-space-collapse {
  white-space: collapse;
  white-space-collapse: collapse;
}

.dark {
  color: var(--color-slate-100);
  background: var(--color-slate-900);
}

.dark .dashboard {
  background: var(--color-slate-800);
}

#logo {
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;
  height: 40px;
  width: 140px;
  background-image: url('../images/logo-black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dark #logo {
  background-image: url('../images/logo-white.png');
}

details summary > svg {
  @apply transition-transform;
}
details:open summary > svg {
  rotate: -180deg;
}

.legal-details {
  max-height: 400px;
}
.legal-details summary {
  position: sticky;
  top: 0;
}
.legal-details .markdown-document h1 {
  font-weight: normal;
}

.markdown-document h1 {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  font-weight: 600;
  margin-bottom: calc(var(--spacing) * 4);
}

.markdown-document h2 {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  font-weight: 600;
  margin: calc(var(--spacing) * 8) 0 calc(var(--spacing) * 4);
}

.markdown-document h3 {
  font-size: var(--text-base);
  line-height: var(--text-base--line-height);
  font-weight: 600;
  margin: calc(var(--spacing) * 6) 0 calc(var(--spacing) * 2);
}

.markdown-document p {
  margin: calc(var(--spacing) * 2) 0;
}

.markdown-document p + p,
.markdown-document p + ol,
.markdown-document p + ul {
  margin-top: calc(var(--spacing) * 4);
}

.markdown-document a {
  color: var(--color-blue-500);
}
.markdown-document a:hover {
  text-decoration: underline;
}

.markdown-document hr {
  margin-top: calc(var(--spacing) * 6);
  margin-bottom: calc(var(--spacing) * 6);
  border-top: 1px solid var(--color-gray-300);

  @variant dark {
    border-top-color: var(--color-slate-700);
  }
}

.markdown-document blockquote {
  margin-bottom: calc(var(--spacing) * 2);
  margin-left: calc(var(--spacing) * 8);
}

.markdown-document ol {
  list-style: decimal;
  list-style-position: inside;
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: var(--spacing);
}

.markdown-document ol li::marker {
  font-weight: bold;
}

.markdown-document ul {
  list-style: disc;
  list-style-position: outside;
  margin-left: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 2);
  margin-top: var(--spacing);
}

.markdown-document ol li img,
.markdown-document ul li img {
  margin: calc(var(--spacing) * 4) 0 calc(var(--spacing) * 8) 0;
  max-width: 1000px;

  @variant dark {
    border: 1px solid var(--color-slate-700);
  }
}

.faq details a {
  @apply hover:text-ink dark:text-slate-400 dark:hover:text-slate-200 underline;
}
