# Node
TZ=UTC
PORT=4075
HOST=127.0.0.1
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
PUBLIC_URL=http://$HOST:$PORT/

OAUTH_SERVICE=https://pds.rip/
ALLOW_EXTERNAL_LOGINS=false
