# Node
TZ=UTC
PORT=4075
HOST=0.0.0.0
NODE_ENV=production

# App
LOG_LEVEL=info
APP_URL=http://localhost:4075
# Generate an APP_KEY with: node ace generate:key or `openssl rand -hex 32`
APP_KEY=insecure-key-for-example

DATABASE_AUTOMIGRATE=true
DATABASE_PATH=/app/database/db.sqlite3

# ATPROTO_OAUTH_CLIENT_ID=https://${APP_URL}/oauth-client-metadata.json
ATPROTO_OAUTH_CLIENT_ID=https://cimd-service.fly.dev/clients/bafyreifl3dmlzebtfpa4yo34nwfkaaxtoonces4v7rxmfmlpdsos4gccaa
OAUTH_SERVICE=https://eurosky.social/
ALLOW_EXTERNAL_LOGINS=false

# Session
SESSION_DRIVER=cookie
