# Dependencies and AdonisJS build
node_modules
build
service/blob-api/dist
tmp/*
!tmp/.gitkeep

# Environment variable files
.env
.env.*.local
.env.local
service/blob-api/.env

# Frontend assets compiled code
public/assets

# Editors specific
.fleet
.idea
.vscode/*
!.vscode/settings.json

# Platform specific
.DS_Store
